<div class="cc2">
<h1>DELL SALES INFO (Finance Year-> 2018-19)</h1>
</div>
<div class="cc1">

<mat-grid-list cols=2>
        <mat-grid-tile><app-layout ></app-layout>
                </mat-grid-tile>
                <mat-grid-tile>
                        <app-piechart></app-piechart></mat-grid-tile>
        <!-- </mat-grid-list>
         <mat-grid-tile [rowspan]="1"><app-piechart></app-piechart></mat-grid-tile> 

        <mat-grid-list cols=2>     -->
                <mat-grid-tile><app-barchart></app-barchart>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <app-doughnutchart></app-doughnutchart></mat-grid-tile>
                <!-- <mat-grid-tile [rowspan]="1"><app-doughnutchart></app-doughnutchart></mat-grid-tile> -->
        
        </mat-grid-list>
        </div>
        
