mat-grid-tile{
    overflow: visible;
   
    
}
mat-grid-tile mat-figure{
    display: flex;
}
h1{
    text-align: center;
    color: firebrick;
}
.cc1{
    background-color: cadetblue;
}
.cc2{
    background-color: coral;
}